@font-face {
    font-family: Josefin;
    src: url(/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

/*** GLOBAL ***/
html {
    font-size: 20px;
    font-weight: 700;
    font-family: Josefin;
}

/*** ESTILIZAÇÃO DE TÍTULOS ***/

h1 {
    font-size: 2.5rem;
    margin: 30px 10px 0px 100px;
    display: inline-block;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    display: inline-block;
    margin: 0px 0px 0px 50rem;
}

/*** ESTILIZAÇÃO DAS SECÇÕES ***/

main {
    background-color: #F2D150;
    height: 11rem;
}

section {
    background-color: #F2F170;
}

nav {
    display: inline-block;
}

/*** ESTILIZAÇÃO DO HEADER ***/

header {
    height: 5rem;
    background-color: #FCBF08;
}


/*** ESTILIZAÇÃO DO FOOTER ***/

footer {
    height: 3.5rem;
    background-color: #DEBC43;
    
}


/*** ESTILIZAÇÃO DE DIVS ***/

.circle {
    background-color: lightyellow;
    height: 160px;
    width: 160px;
    border: 5px solid #DDAA00;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 1rem 1rem 0rem 8rem;
}

.circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro{
    margin: 60px 10px 40px 500px;
}

.intro2{
    height: 1rem;
    width: 750px;
    text-align: justify;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 10px 10px 0px 50px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box {
    background-color: lightblue;
    width: 100px;
    height: 160px;
    border: 5px;
    border-radius: 10%;
    box-shadow: 3px 3px 3px #000000;
    overflow: hidden;
    display: inline-block;
    margin: 10px 0px 50px 5px;
}

.boxscore {
    width: 20px;
    height: 25px;
    border: 5px;
    border-radius: 10%;
    box-shadow: 3px 3px 3px #000000;
    overflow: hidden;
    display:inline-block;
    margin: 0px 0px 0px 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 25px;
    text-align: center;
    position: absolute;
}

#gold {
    background-color: gold;
}

#silver {
    background-color: silver;
}

#bronze {
    background-color: brown;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.word {
    
    border-radius: 10%;
    display: inline-block;
    margin: 20px 0px 0px 20px;
    font-size: 32px;    
}

.space{
    width: 190px;
    height: 1px;
    object-fit: cover;
    display: inline-block;
}

.caption {
    background-color: lightblue;
    width: 100px;
    height: 40px;
    border: 5px;
    border-radius: 10%;
    box-shadow: 3px 3px 3px #000000;
    overflow: hidden;
    display: inline-block;
    margin: 0px 0px 27.5px 5px;
    font-size: 14px;
    text-align: center;
}

.dot {
    height: 10px
}

.contact {
    display: inline-block;
    margin: 0px 0px 0px 40rem;
}


/*** PSEUDOS ***/

.box:hover {
}